body {
    background-color: #FFFFFF;
}

#profile-pic {
    width: 20em;
    border-radius: 50%;
    border: solid 1em #000000;
    box-shadow: rgba(0,0,0,0.2) 0 0 1em;
    margin-bottom: 2em; 
}

.github {
    border-color:red !important;
}

.linkedin {
    border-color: #0e76a8 !important;
}

.twitter {
    border-color: #4099FF !important;
}

li {
    list-style-type: none;
    display: inline-block;
    margin: 2em;
}

ul {
    padding-left: 0;
}

.content {
    margin-top: 11em;
}

.fa {
    font-size: 4em;
    color: #000000;
}