body {
    background-color: #e0e0e0;
}

#profile-pic {
    width: 17em;
    border-radius: 50%;
    border: solid 0.618em #aeaeae;
    box-shadow: rgba(0,0,0,0.2) 0 0 1.618em;
    margin-bottom: 1.618em; 
}

li {
    list-style-type: none;
    display: inline-block;
    margin: 1.618em;
}

ul {
    padding-left: 0;
}

.content {
    margin-top: 11em;
}

.fa {
    font-size: 4em;
    color: #aeaeae;
}